<div class="body">
    <button class="svg" (click)="navigator('user')" mat-button>
        <img src="assets/svg/home.svg" alt="" [ngStyle]="{opacity: identity.home ? 1 : 0.6}">
        <div class="svg_text">Home</div>
    </button>
    <button class="svg" (click)="navigator('errands')" mat-button>
        <img id="errand" src="assets/svg/errand.svg" alt="" [ngStyle]="{opacity: identity.errands ? 1 : 0.6}">
        <div class="svg_text">Errands</div>
    </button>
    <button class="svg" (click)="navigator('account')" mat-button>
        <img src="assets/svg/user.svg" alt="" [ngStyle]="{opacity: identity.account ? 1 : 0.6}">
        <div class="svg_text">Account</div>
    </button>
    <button class="svg" (click)="navigator('notification')" mat-button>
        <img id="notification" src="assets/svg/notification.svg" alt="" [ngStyle]="{opacity: identity.notification ? 1 : 0.6}">
        <div class="svg_text">Notifications</div>
    </button>
</div>