<div class="body">
    <div class="svg" (click)="navigator('user')">
        <img src="assets/svg/{{color.home}}.svg" alt="">
        <div class="svg_text">Home</div>
    </div>
    <div class="svg" (click)="navigator('errands')">
        <img src="assets/svg/{{color.errand}}.svg" alt="" >
        <div class="svg_text">Errands</div>
    </div>
    <div class="svg" (click)="navigator('account')">
        <img src="assets/svg/{{color.account}}.svg" alt="">
        <div class="svg_text">Account</div>
    </div>
    <div class="svg" (click)="navigator('notification')">
        <img src="assets/svg/{{color.notification}}.svg" alt="">
        <div class="svg_text">Notifications</div>
    </div>
</div>