.header {
    width: 100%;
    height: 128px;
    left: 0px;
    top: 0px;
    background: #732CA4;  
    padding: 48px 17px 0 17px;
}

.sub-head {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px;
}

h5 {
    /* font-weight: 400; */
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    /* margin-left: 22px; */
}
.mat-tab-label {
    color: #FFFFFF;
    font-size: 16px;
}
.mat-tab-label-active {
    border-bottom: 7px solid white;
}
.bg {
    background-color: #ffffff;
    height: 80vh;
}
