<div class="body animate__animated {{animationAngle}}">
    <img src="assets/svg/qe-logo-bg.svg" alt="">
    <div class="get-connected">
        <h3>Get</h3>
        <h4>Connected</h4>
    </div>
    <div class="avater">
        <div></div>
        <img src="assets/svg/avater1.svg" alt="">
        <div></div>
    </div>
    <div class="text">
        Discover people who are willing to 
        run your errands anywhere.
    </div>
    <div class="_dot">
        <div class="circle" [style.background-color]="indexFunc.unboard.one? '#732CA4' : ''"></div>
        <div class="circle" (click)="myDecision(2)"></div>
        <div class="circle" (click)="myDecision(3)"></div>
    </div>
    <div class="bottom">
        <div (click) = 'skip()'>Skip</div>
        <div (click) = 'toggleUnboardingPage()'>Next</div>
    </div>
</div>