<div class="modal fade" id="paymentSuccess" tabindex="-1" role="dialog" aria-labelledby="paymentSuccessTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        
        <div class="modal-body text text-center">
            <img src="assets/svg/pay-success.svg" alt=""> 

            <div class="text-center">Payment successful! </div>            
        </div>

        <div class="button">Continue</div>
        
    </div>
  </div>