<div class="header">
    <div (click)="backFunc()">
        <img src="assets/svg/baack-white.svg"  alt="" >
    </div>
    <h5 class="text-justify">Errand Details</h5>
    <div></div> 
</div>

<div class="errand-details">
    <div class="errand-details-one">
        <div class="d-flex">
            <h5 class="mr-auto">Anu’s errand</h5>
            <img src="assets/svg/trash-grey.svg" alt="">
        </div>
        <div class="text-justify">
            Sep 02, 2020 | 02:45PM
        </div>
    </div>

    <div class="errand-details-two">
        <h5>Items</h5>
        <div>
            <span>1.</span>
            <span>Pack of sugar</span>
        </div>
        <div>
            <span>2.</span>
            <span>Pack of sugar</span>
        </div>
    </div>

    <div class="errand-details-three">
        <h5>Additional information</h5>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolor dignissimos delectus praesentium beatae excepturi blanditiis, ppsam, maiores ullam.
        </div>
    </div>

    <div class="errand-details-four">
        <h5>Status</h5>
        <div>
           <mat-checkbox class="example-margin" color="primary" ></mat-checkbox>
           <span>Errand accepted</span>
        </div>
        <div>
            <mat-checkbox class="example-margin" color="primary" ></mat-checkbox>
            <span>Errand completed</span>
         </div>
    </div>

    <!-- <div class="errand-details-five">
        <h5>Additional information</h5>
        <div>
            <img src="assets/svg/errandee.svg" class="img" alt="" height="90">
            <div>
                <h6>Anu</h6>
                <div>
                    <img src="assets/svg/little-phone.svg" alt="">
                    <span>08132722019</span>            
                </div>
                <div>
                    <img src="assets/svg/little-whatsapp.svg" alt="">
                    <span>08132722019</span> 
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="button" > Mark errand complete </div> -->

    <div class="star-rating">
       <div>Rate Bodunde Smith (Optional)</div>
       <div><img src="assets/svg/rate.svg" alt=""></div>
       <div class="button btn" > Submit rating </div>
    </div>
</div>

<app-footer class="footer" [rout]="rout"></app-footer>