<div class="whole">
    <div class="head" >
        <img src="assets/svg/back.svg" alt="" (click)="back()">
        <div class="text1">
            Make an errand request
        </div>
        <img src="assets/svg/home.svg" alt="">
    </div>
    
    <div class="body">
        <div class="area">
            Does your errand require a purchase?
        </div>    
        
        <div class="yes" (click)="continue('yes')">
            Yes
        </div>
        <div class="yes no" (click)="continue('no')">
            No
        </div>

</div>