<div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="profileTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modalHeader d-flex">
            <img class="ml-auto" src="assets/svg/cancel.svg" alt="" width="16" height="16">
        </div>
       
        <div class="modalBody">
            
            <div class="errandee">
                <img src="assets/svg/errandee.svg" alt="">
                <div>
                    <h6 class="mt-1">Smith_2</h6>
                    <div>
                        <span>4.6</span>
                        <img src="assets/svg/star.svg" alt="">
                        5 errands completed
                    </div>
                </div>
            </div>
            <div class="contact">
                <a href=""><img src="assets/svg/call.svg" alt=""></a>
                <a href=""><img src="assets/svg/whatsapp.svg" alt=""></a>
            </div>

        </div>
        
    </div>
  </div>