.modal-content {
    padding: 16px;
}
.modalBody div:first-child {
    text-align: center;
    margin-top: 10px;
}
.modalBody div:nth-child(2) {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #62526D;
}  