<div class="modal fade" id="notify" tabindex="-1" role="dialog" aria-labelledby="notifyTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modalHeader d-flex pt-4">
            <img class="ml-auto" src="assets/svg/cancel.svg" alt="" width="16" height="16">
        </div>
        <div class="modalHeader d-flex coin">
            <img src="assets/svg/coin.svg" alt="">
            <h5>10 Errand Coins</h5>
        </div>
        <div class="modal-body text">
            <h6>
                You will be charged 10 Errand 
                Coins to contact available erranders
            </h6>
            <h6 class="text-center">
                Payment method
            </h6>
            <div class="pay_from_coin_wallet d-flex">
                <img src="assets/svg/wallet.svg" alt="">
                <h6 class="pb-2 pl-2">Coin wallet <span>(200 coin)</span> 190 Coins</h6>
                <img class="ml-auto" src="assets/svg/mark.svg" alt="">
            </div>

            <div class="pay_from_coin_wallet d-flex">
                <img src="assets/svg/debitcard.svg" alt="">
                <h6 class="pb-3 pl-2">Debit card</h6>
                <img class="ml-auto" src="assets/svg/mark.svg" alt="">
            </div>

            <div class="button">Pay 10 Errand Coins</div>
        </div>
        
    </div>
  </div>