<div class="whole" (click)="clearPopOver(previousIndex)">
    <div class="head">
        <img src="assets/svg/back.svg" alt="" (click)="backFunc()">
        <div class="text1">
            Make an errand request
        </div>
        <img src="assets/svg/home.svg" alt="" (click)="backFunc()">
    </div>
    
    <div class="body">
        <div class="area">
            In which area do you need
            someone to run your errand?
        </div>    
        <div class="box1">
            <img src="assets/svg/search.svg" alt="">
            <input type="text" placeholder="Search for area/local govt. area" autofocus name="searchBox" [(ngModel)]="searchBox" (keyup)="autoComplete()" >
        </div>  

        <div class="use_current_location" (click) = "useCurrentLocation()">
            <img src="assets/svg/current_location.svg" alt="">
            <span>
                Use current location
            </span>
        </div>

       <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="mat-elevation-z0">
            
            <mat-expansion-panel-header>        
                <mat-panel-title>
                    <span>
                        <img src="assets/svg/saved_areas.svg" alt="">
                        <span class="saved_areas">Saved areas</span>
                    </span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div class="d-flex" *ngFor="let savedAddress of savedAddress; let i = index">
                <div class="mr-auto saved_areas_text" (click)="handleUseSavedAddress(savedAddress)">
                    {{savedAddress.address}}
                </div>
                <img src="assets/svg/cancel.svg" alt="" (click)="handleDeleteSavedAddress(i)">
            </div>
            
        </mat-expansion-panel>


        <div class="cover" *ngFor="let history of addressHistory; let i = index">

            <div class="history">
                <img src="assets/svg/timer.svg" alt="" (click)="clearPopOver(i)">
                <span class="mr-auto" (click)="handleUseHistory(history, i)">{{history?.address}}</span>
                <img src="assets/svg/more.svg" alt="" (click)="history.status ? clearPopOver(i) : handlePopover(i)">
            </div>
            <div class="popover-item animate__animated animate__heartBeat" *ngIf="history.status">
                <div>
                    <button class="save_history w-100" (click)="handleSaveAddress(history)" mat-button> <img src="assets/svg/saved_areas.svg"  width="14" height="16" alt="" style="margin-right: 8px;"> <span style="line-height: 16px; font-size: 14px;"> Save</span></button>
                    <button class="deleteHistory" (click)="handleDeleteHistory(i)" mat-button > <img src="assets/svg/cancel.svg" alt="" style="margin-right: 8px;"> <span style="line-height: 16px; font-size: 14px;"> Remove</span></button>
                </div>             
            </div>
        </div>

        <!-- google search -->
        <div class="google_search" *ngFor="let suggest of suggestion" (click)="setLocation(suggest)">
            <img src="assets/svg/location.svg" alt="" *ngIf="!loader">
            <div *ngIf="!loader">
                <strong>{{ suggest.locality }}</strong> <br />
                {{ suggest.region }}
            </div>
        </div>

        <!-- <div class="loader mt-5"> -->
        <mat-spinner *ngIf="loader"></mat-spinner>
        <!-- </div> -->

    </div> 

    <!-- continue button -->
    <div 
    class="button"
    (click) = "searchBox == null || searchBox == '' || !locationSet ? '' : handleContinue()"
    [style.opacity]="searchBox == null || searchBox == '' || !locationSet ? '0.2' : '' " 
    >
    Continue
    </div>
</div>