<div class="modal fade" id="status" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top" role="document">
    <div class="modal-content">
       <div class="modalHeader">
           <h6>Status</h6>
           <img src="assets/svg/cancel.svg" alt="">
       </div>
        <div class="modalBody">
            <div class="a">
                <div class="text">
                    <img src="assets/svg/credit-debit.svg" alt="">
                    <div>Any Status</div>
                </div>
                <div class="text">
                    <img src="assets/svg/credit-icon.svg" alt="">
                    Credit
                </div>
                <div class="text last-text">
                    <img src="assets/svg/debit-icon.svg" alt="">
                    Debit
                </div>
            </div>       
        </div>

    </div>
</div>