<div class="modal fade" id="date" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top" role="document">
    <div class="modal-content">
       <div class="modalHeader">
           <h6>Date</h6>
           <img src="assets/svg/cancel.svg" alt="" (click)="hide()">
       </div>
        <div class="modalBody">
            <div class="input-box">
                <div class="w-20">
                    <img src="assets/svg/calender.svg" alt="">
                </div>
                <div class="w-80">
                    <input type="text" placeholder="Start date" name="" id="" class="w-100">
                </div>
            </div>
            <div class="input-box">
                <div class="w-20">
                    <img src="assets/svg/calender.svg" alt="">
                </div>
                <div class="w-80">
                    <input type="text" placeholder="End date" name="" id="" class="w-100">
                </div>
            </div>
            <div>
                <input type="text" name="" id="">
            </div>
        </div>
        <div class="button">
            Apply filter
        </div>
        <div class="clear-filter">
            Clear filter
        </div>
    </div>
</div>