.modal {
    border-radius: 50px 50px 0px 0px;
}
.modal-content {
    padding: 12px 17px 24px 17px;
}
.modalHeader {
    display: flex;
    justify-content: space-between;
}
h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #62526D;
}
.input-box {
    background: #FFFFFF;
    border: 0.5px solid rgba(98, 82, 109, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    margin-top: 24px;
}
.w-20 img{
padding: 0 4px 0px 8px;
}
.w-80 {
    width: 90%;
}
input {
    background: #FFFFFF;
    border: 0.5px solid rgba(98, 82, 109, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    width: auto;
    border: none;
    outline: none;
}
.button {
    background: linear-gradient(268.84deg, #732CA4 0%, #8C62A9 100.7%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    margin: 24px 17px;
    padding: 12px 112px;
    text-align: center;
    color: #FFFFFF;
}
.clear-filter {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #54455E;
}