<div class="content">
    <img src="assets/svg/credit-icon.svg" alt="">
    <div class="data">
        <div class="credit">Credit</div>
        <div class="wallet">Wallet Funding
            <strong class="mr-auto">₦700</strong>
            <div class="coin">+20 Coins</div>
        </div>
        <div class="time">Sep 22, 2020 <span class="p-1">|</span> 02:43 PM</div>     
    </div>
</div>

<div class="content">
    <img src="assets/svg/debit-icon.svg" alt="">
    <div class="data">
        <div class="debit red">Debit</div>
        <div class="wallet">Errand Payment
            <strong class="mr-auto">₦700</strong>
            <div class="coin red">-30 Coins</div>
        </div>
        <div class="time">Sep 22, 2020 <span class="p-1">|</span> 02:43 PM</div>     
    </div>
</div>
