

<div class="d-flex">
    <img class="avatar" [src]="data.image" alt="" width="50" height="50">
    <h5>{{data.lastname}} {{data.firstname}}</h5>
</div>

<div class="balance-box" style="position: relative;">
    <div class="balance-box-one">
        <div>   
            <h6 class="text-justify">Coin wallet balance</h6>
            <h4 class="text-justify">180 Coins</h4>
        </div>
        
        <img src="assets/svg/coin-big.svg" alt="" > 
           
    </div>
    
    <div class="below-border">
        <div style="width: 50%; padding-right: 16px; border-right: 0.5px solid #FFFFFF;;">
            Fund wallet
            <img style="float: right;" src="assets/svg/proceed-white.svg" alt="">
        </div>

        <div style="width: 50%; padding-left: 16px;">
            Transaction history
            <img style="float: right;" src="assets/svg/proceed-white.svg" alt="">
        </div>
    </div>    
</div>

<div class="body">

    <div class="items">
        <div class="d-flex">
            <img style="margin-right: 8px;" src="assets/svg/address.svg" alt="">
            <div>Saved addresses</div>
            <img class="ml-auto" src="assets/svg/proceed.svg" alt="">
        </div>
    </div>

    <div class="items">
        <div class="d-flex">
            <img style="margin-right: 8px;" src="assets/svg/debitcard2.svg" alt="">
            <div>Payment card(s)</div>
            <img class="ml-auto" src="assets/svg/proceed.svg" alt="">
        </div>
    </div>

    <div class="items">
        <div class="d-flex">
            <img style="margin-right: 8px;" src="assets/svg/lock2.svg" alt="">
            <div>Password</div>
            <img class="ml-auto" src="assets/svg/proceed.svg" alt="">
        </div>
    </div>

    <div class="items">
        <div class="d-flex">
            <img style="margin-right: 8px;" src="assets/svg/support.svg" alt="">
            <div>Support</div>
            <img class="ml-auto" src="assets/svg/proceed.svg" alt="">
        </div>
    </div>

    <div class="items">
        <div class="d-flex">
            <img style="margin-right: 8px;" src="assets/svg/about.svg" alt="">
            <div>About</div>
            <img class="ml-auto" src="assets/svg/proceed.svg" alt="">
        </div>
    </div>

    <div class="sign-out">Sign out</div>
</div>


<app-footer class="footer"></app-footer>