<div class="errands" (click)="errandDetails('1')">
    <div class="errands-one">
        Anu's errand
    </div>
    <div class="errands-two">
        <img src="assets/svg/proceed.svg" alt="">
    </div>
    <div class="errands-three text-justify">
        Sep 02, 2020 | 02:45PM
    </div>
</div>

<div class="errands" (click)="errandDetails('1')">
    <div class="errands-one">
        Anu's errand
    </div>
    <div class="errands-two">
        <img src="assets/svg/proceed.svg" alt="">
    </div>
    <div class="errands-three text-justify">
        Sep 02, 2020 | 02:45PM
    </div>
</div>