<div class="whole">
    
    <div class="body">
        <div class="head">
            <div></div>
            <div class="text1">
                ERRAND REQUEST PLACED
            </div>
            <img src="assets/svg/home.svg" alt="">
        </div>


        <div class="location-section">
            <div class="d-flex">
                <div>
                    Contacting available
                    erranders...
                </div>
                <img src="assets/svg/make-payment.svg" alt="">
            </div>
            <div class="cancel_text">
                <img src="assets/svg/cancel.svg" alt="">
                Cancel request
            </div>
        </div>  
           

        <div class="additional_info"  >
            <app-show-inrtested-erranders-list [errandee]="errandee"></app-show-inrtested-erranders-list>
        </div>

    <!-- continue button -->
    <div class="button" *ngIf="errandee">
        <div>
            Contact interested erranders
        </div>
        <div>
            <img src="assets/svg/info.svg" alt="">
            <span>You need errand coins to contact erranders.</span>
        </div>
    </div>
</div>

